@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
  }
  body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background: url("/src/images/1.png") no-repeat fixed center ;
    background-size: cover;
  }
 