@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  body {
    background: url("https://i.ibb.co.com/MNF3sm5/1.png") no-repeat fixed center ;
    background-size: cover;
  }
  /* Dropdown hidden by default */
.dropdown {
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  transition: max-height 0.3s ease;
  max-height: 0;
  overflow: hidden;
}

/* Dropdown when open */
.dropdown.open {
  max-height: 300px;
}

/* bg-neutral rounded-sm px-2 py-1 text-xs font-normal hover:bg-white transition-all hover:text-primary */
/*Skill buttons*/
.skillBtn{
border: solid white 1px;
margin: 5px;
padding: 2px 5px;
background-color: transparent;
transition: background-color .3s ease-in-out;
}
.skillBtn:hover{
  background-color: white;
}

/* recent post */
.recent-post{
padding: 30px 0;
}

.active a {
  font-weight: bold; 
  color: rgb(3, 3, 3); 
}